---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bateaux et matériel">
    <main>
        <h1 class="text-3xl">Bateaux et matériel</h1>

        <div>
            <p class="py-2">
                Afin de vous garantir un maximum de sécurité et de plaisir, nous
                vous proposons du matériel de qualité.
            </p>
            <p class="py-2">
                Bonjour, je me nomme Christophe Barriola. Mon environnement « à
                quelques centaines de mètres de l’océan » m’a permis depuis le
                plus jeune âge de me passionner pour le milieu maritime. Dès
                l’âge de 10 ans, j’ai intégré une école de pêche en bord de mer
                (Surf Casting) qui m’a permis l’apprentissage de cette
                technique. Très vite, j’ai commencé à réaliser des compétitions
                et à décrocher des titres, notamment champion de France jeune
                espoir ainsi que vice champion du monde par équipe.
            </p>
            <p class="py-2">
                Samatheo 2 : ce navire d’une longueur de 10,8 m pour 3,3 de
                large est motorisé par deux moteurs Honda de 250 cv 4 temps. Il
                a été spécialement construit sur mesure par le chantier naval
                Lacaze pour la pêche sportive du thon. Il possède une passerelle
                avec couchettes et WC ainsi que de nombreux rangements, un
                vivier et une glacière. Du coté électronique, il est entièrement
                équipé FURUNO : 2 NAVNET TZ Touch 2, un ordinateur avec Maxsea,
                radar, deux pilotes automatiques FURUNO, INMARSAT, ...
            </p>
            <p class="py-2">
                Vedette de type pêche sportive (construction sur mesure au
                chantier Navalu) d’une longueur de 7,8 mètres pour 2,8 de large.
                Ce navire est motorisé par un moteur Yamaha de 250 cv 4 temps /
                hors bord. Il possède un vivier de 150 litres et de nombreux
                coffres de rangement, … Équipé d’électronique de dernière
                génération ( GPS Navnet TzTouch 3 de chez FURUNO) ainsi qu’un
                moteur électrique montage avant Minn Kota. La capacité d’accueil
                est de 5 personnes maximum.
            </p>
            <p class="py-2">
                Pour votre sécurité, les bateaux possède tout le matériels de
                sécurité nécessaire et j’ai choisi d’équiper chaque stagiaire
                pêcheur d’un gilet de sauvetage automatique 150 N. Je suis fier
                de vous faire pêcher avec du matériel de qualité pour vous
                garantir un maximum de plaisir.
            </p>
            <p class="py-2">
                Nos prestations comprennent le prêt de matériel de pêche de
                qualité adapté en fonction de chaque technique. Les leurres et /
                ou appâts sont également fournis.
            </p>
        </div>
    </main>
</Layout>
