---
import Navigation from "../components/Prestations/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import { getDirectusItems } from "../utils/get-directus-client";

const prestations = await getDirectusItems("prestation");
---

<Layout title="Nos prestations">
    <main>
        <h1>Nos prestations</h1>

        <Navigation prestations={prestations} />
    </main>
</Layout>
