---
import { Astronav, MenuItems, MenuIcon, StickyHeader } from "astro-navbar";

const links = [
	{ to: "/", label: "Accueil" },
	{ to: "/prestations", label: "Prestations" },
	{ to: "/equipe", label: "Équipe" },
	{ to: "/bateaux-materiel", label: "Bateaux et matériel" },
	{ to: "/contact", label: "Contact" },
];
---

<StickyHeader
	class="sticky top-0 border-b z-20 transition-all lg:flex p-5 gap-5 text-white bg-gray-800/90"
	scrollY={50}
	defaultClass="py-5 border-transparent"
	activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg"
>
	<Astronav closeOnClick>
		<div class="flex w-full justify-between">
			<a>Cap Pêche Loisirs</a>
			<div class="block lg:hidden">
				<MenuIcon class="w-4 h-4 text-white" />
			</div>
		</div>
		<MenuItems class="hidden lg:flex my-3">
			<ul class="flex flex-col lg:flex-row lg:gap-5">
				{
					links.map((link) => (
						<li>
							<a href={link.to}>{link.label}</a>
						</li>
					))
				}
			</ul>
		</MenuItems>
	</Astronav>
</StickyHeader>
