<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
	<a href="/">Accueil</a>
	<a href="/prestations">Prestations</a>
	<a href="/equipe">Équipe</a>
	<a href="/bateaux-materiel">Bateaux et matériel</a>
	<a href="/contact">Contact</a>
</nav>
