---
const links = [
	{ to: "/", label: "Accueil" },
	{ to: "/prestations", label: "Prestations" },
	{ to: "/equipe", label: "Équipe" },
	{ to: "/bateaux-materiel", label: "Bateaux et matériel" },
	{ to: "/contact", label: "Contact" },
];

---

<header class="bg-white" x-data="{ isOpen: false }">
	<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
		<div class="flex h-16 items-center justify-between">
			<div class="md:flex md:items-center md:gap-12">
				<a class="block text-teal-600" href="#">
					<span class="text-2xl font-bold uppercase"
						>Cap Pêche Loisirs</span
					>
				</a>
			</div>

			<div class="hidden md:block">
				<nav aria-label="Global">
					<ul class="flex items-center gap-6">
						{
							links.map((link) => (
								<li>
									<a
										class="text-gray-500 transition hover:text-gray-500/75"
										href={link.to}
									>
										{link.label}
									</a>
								</li>
							))
						}
					</ul>
				</nav>
			</div>

			<div class="flex items-center gap-4">
				<div class="block md:hidden">
					<button
						@click="isOpen = !isOpen"
						class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="2"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div x-show="isOpen" class="md:hidden">
		<nav aria-label="Global">
			<ul class="flex flex-col gap-3 ml-8">
				{
					links.map((link) => (
						<li>
							<a
								class="text-gray-500 transition hover:text-gray-500/75"
								href={link.to}
							>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</header>
