---
import { Image } from "astro:assets";

const { prestations } = Astro.props;
// const images = await getDirectusItems("prestation_files");
---

<nav>
    <ul class="grid grid-cols-2 md:grid-cols-4">
        {
            // @ts-ignore
            prestations.map((prestation) => (
                <ul>
                    <li>
                        <a
                            href={"/prestations/" + prestation.slug}
                            class="group relative block m-1"
                        >
                            {prestation.picture && (
                                <Image
                                    src={
                                        import.meta.env
                                            .PUBLIC_DIRECTUS_BASE_URL +
                                        "/assets/" +
                                        prestation.picture
                                    }
                                    alt={prestation.title}
                                    width={400}
                                    height={400}
                                    class="bg-center rounded bg-cover w-full h-32 md:h-48 lg:h-64"
                                />
                            )}

                            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
                                <h3 class="mt-1.5 inline-block bg-black opacity-80 px-5 py-3 text-xs font-medium uppercase tracking-wide text-white">
                                    {prestation.title}
                                </h3>
                            </div>
                        </a>
                    </li>
                </ul>
            ))
        }
    </ul>
</nav>
