---
import { ViewTransitions } from "astro:transitions";

import Navigation from "../components/Navigation.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Pêche en mer, balade en bateau, surf trip. Cap Pêche Loisirs, votre skipper et guide de pêche en mer vous accueille au départ du port de Capbreton (unique port des Landes ) en alliant pédagogie et convivialité."
		/>
		<title>Cap Pêche Loisirs | {title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-white dark:bg-gray-900">
		<Navigation />
		<div class="bg-white p-2">
			<slot />
		</div>
		<style>
			html {
				scroll-behavior: smooth;
			}
			body {
				margin: 0;
			}
		</style>
	</body>
</html>

<style>
	.hidden {
		display: none;
	}
</style>